build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CTestTestfile.cmake
build/dm-tpp.sln
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/13972b30587583789cf7dc13d8c05757/generate.stamp.rule
build/CMakeFiles/13972b30587583789cf7dc13d8c05757/RUN_TESTS_force.rule
build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.2.1/CMakeRCCompiler.cmake
build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/CMakeFiles/4.2.1/VCTargetsPath.txt
build/CMakeFiles/4.2.1/VCTargetsPath.vcxproj
build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.2.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.2.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.2.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.2.1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.2.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/bd495d48502b538a7ceebf93e932770d/RUN_TESTS_force.rule
build/lib/core/cmake_install.cmake
build/lib/core/core.vcxproj
build/lib/core/core.vcxproj.filters
build/lib/core/CTestTestfile.cmake
build/lib/core/result_test.vcxproj
build/lib/core/result_test.vcxproj.filters
build/lib/core/RUN_TESTS.vcxproj
build/lib/core/RUN_TESTS.vcxproj.filters
build/lib/core/CMakeFiles/generate.stamp
build/lib/core/CMakeFiles/generate.stamp.depend
build/lib/core/Release/core.lib
build/lib/core/Release/gtest_main.dll
build/lib/core/Release/gtest.dll
build/lib/core/Release/result_test.exe
build/lib/core/core.dir/Release/core.lib.recipe
build/lib/core/core.dir/Release/error.obj
build/lib/core/core.dir/Release/core.tlog/CL.command.1.tlog
build/lib/core/core.dir/Release/core.tlog/Cl.items.tlog
build/lib/core/core.dir/Release/core.tlog/CL.read.1.tlog
build/lib/core/core.dir/Release/core.tlog/CL.write.1.tlog
build/lib/core/core.dir/Release/core.tlog/core.lastbuildstate
build/lib/core/core.dir/Release/core.tlog/CustomBuild.command.1.tlog
build/lib/core/core.dir/Release/core.tlog/CustomBuild.read.1.tlog
build/lib/core/core.dir/Release/core.tlog/CustomBuild.write.1.tlog
build/lib/core/core.dir/Release/core.tlog/Lib-link.read.1.tlog
build/lib/core/core.dir/Release/core.tlog/Lib-link.write.1.tlog
build/lib/core/core.dir/Release/core.tlog/Lib.command.1.tlog
build/lib/core/result_test.dir/Release/result_test.exe.recipe
build/lib/core/result_test.dir/Release/result_test.obj
build/lib/core/result_test.dir/Release/result_test.tlog/CL.command.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/Cl.items.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/CL.read.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/CL.write.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/CustomBuild.command.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/CustomBuild.read.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/CustomBuild.write.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/link.command.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/link.read.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/link.secondary.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/link.write.1.tlog
build/lib/core/result_test.dir/Release/result_test.tlog/result_test.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.github/.memorybank/CMAKE_SETUP_GUIDE.md
.github/.memorybank/COMPLETED_IMPLEMENTATIONS.md
.github/.memorybank/dmtppcontext.md
.github/.memorybank/notes.md
.github/.memorybank/Phase_1_Foundation_Weeks_1-3.md
.github/.memorybank/Phase_2_Messaging_Weeks_4-7.md
.github/.memorybank/Phase_3_State_and_Consistency_Weeks_8-11.md
